@model Job
<!-- I needed to inclide all read only if not admins within each text field. All users orginally able to edit the job -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Details - Crystal Clear Recruitment</title>
    <link rel="stylesheet" href="~/css/jobs.css" asp-append-version="true" />
</head>
<body>
    <header class="page-header">
        <div class="container">
            <h1>Job Details</h1>
        </div>
    </header>
    <div class="container form-container">
        <form asp-action="@ViewBag.action">
            <input asp-for="PostedDate" hidden />
            <input asp-for="Status" hidden />
            <input asp-for="JobId" hidden />
            <input asp-for="AddUser" hidden />

            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="JobTitle">Job Title</label>
                        @if (User.IsInRole("admin"))
                        {
                            <input asp-for="JobTitle" class="form-control border border-success">
                        }
                        else
                        {
                            <input asp-for="JobTitle" class="form-control border border-success" readonly />
                        }
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="EmploymentType">Employment Type</label>
                        @if (User.IsInRole("admin"))
                        {
                            <select class="form-control border border-success" asp-for="EmploymentType">
                                <option value="Part-time">Part-time</option>
                                <option value="Full time">Full time</option>
                            </select>
                        }
                        else
                        {
                            <select class="form-control border border-success" asp-for="EmploymentType" disabled>
                                <option value="Part-time">Part-time</option>
                                <option value="Full time">Full time</option>
                            </select>
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="CompanyName">Company Name</label>
                        @if (User.IsInRole("admin"))
                        {
                            <input asp-for="CompanyName" class="form-control border border-success">
                        }
                        else
                        {
                            <input asp-for="CompanyName" class="form-control border border-success" readonly />
                        }
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="Salary">Salary</label>
                        @if (User.IsInRole("admin"))
                        {
                            <input asp-for="Salary" class="form-control border border-success">
                        }
                        else
                        {
                            <input asp-for="Salary" class="form-control border border-success" readonly />
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="City">City</label>
                        @if (User.IsInRole("admin"))
                        {
                            <input asp-for="City" class="form-control border border-success">
                        }
                        else
                        {
                            <input asp-for="City" class="form-control border border-success" readonly />
                        }
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Country">Country</label>
                        @if (User.IsInRole("admin"))
                        {
                            <input asp-for="Country" class="form-control border border-success">
                        }
                        else
                        {
                            <input asp-for="Country" class="form-control border border-success" readonly />
                        }
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="Location">Location</label>
                @if (User.IsInRole("admin"))
                {
                    <textarea class="form-control border border-success" asp-for="Location" rows="3"></textarea>
                }
                else
                {
                    <textarea class="form-control border border-success" asp-for="Location" rows="3" readonly></textarea>
                }
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ContactNo">Contact No</label>
                        @if (User.IsInRole("admin"))
                        {
                            <input asp-for="ContactNo" class="form-control border border-success">
                        }
                        else
                        {
                            <input asp-for="ContactNo" class="form-control border border-success" readonly />
                        }
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Email">Email</label>
                        @if (User.IsInRole("admin"))
                        {
                            <input asp-for="Email" class="form-control border border-success">
                        }
                        else
                        {
                            <input asp-for="Email" class="form-control border border-success" readonly />
                        }
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="Description">Description</label>
                @if (User.IsInRole("admin"))
                {
                    <textarea class="form-control border border-success" asp-for="Description" rows="3"></textarea>
                }
                else
                {
                    <textarea class="form-control border border-success" asp-for="Description" rows="3" readonly></textarea>
                }
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="CategoryId">Employment Category</label>
                        @if (User.IsInRole("admin"))
                        {
                            @Html.DropDownListFor(a => a.CategoryId, new SelectList(ViewBag.Category, "CategoryId", "Name"), new { @class = "form-control border border-success" })
                        }
                        else
                        {
                            @Html.DropDownListFor(a => a.CategoryId, new SelectList(ViewBag.Category, "CategoryId", "Name"), new { @class = "form-control border border-success", disabled = "disabled" })
                        }
                    </div>
                </div>
                @if (ViewBag.view != null)
                {
                    <div class="col-md-6">
                        <label>&nbsp;</label>
                        <!-- Check if the user is logged in -->
                        @if (User.Identity.IsAuthenticated)
                        {
                            <!-- If logged in, show the Apply button -->
                            <a class="button-primary form-control" asp-action="Apply" asp-route-jobid="@Model.JobId">Apply</a>
                        }
                        else
                        {
                            <!-- If not logged in, redirect to the Log (Login) page -->
                            <a class="button-primary form-control" href="/Identity/Account/Log?returnUrl=@(Url.Action("View", "Jobs", new { jobid = @Model.JobId }))">Apply</a>
                        }
                    </div>
                }
            </div>

            <div class="row">
                <div class="col-md-3">
                    @if (ViewBag.view == null)
                    {
                        @if (ViewBag.action == "EditPOST")
                        {
                            <button class="button-info form-control">Update</button>
                        }
                        else
                        {
                            <button class="button-info form-control">Add</button>
                        }
                    }
                </div>
            </div>
        </form>
    </div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
