@model List<Job>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Applications - Crystal Clear Recruitment</title>
    <link rel="stylesheet" href="~/css/jobs.css" asp-append-version="true" />
</head>
<body>
    <header class="page-header">
        <div class="container">
            <h2>Job Applications</h2>
        </div>
    </header>

    @foreach (var obj in @Model)
    {
        <div class="card mb-3">
            <div class="card-body">
                <div class="d-flex flex-column flex-lg-row">
                    <span class="avatar-text">@obj.JobTitle.Substring(0, 1).ToUpper()</span>
                    <div class="row flex-fill">
                        <div class="col-sm-5">
                            <h4 class="h5">@obj.JobTitle</h4>
                            <span class="badge badge-secondary">@obj.EmploymentType</span>
                            <span class="badge badge-success">€@obj.Salary</span>
                        </div>
                        <div class="col-sm-4 py-2">
                            @if (@obj.jobSeekers.Where(x => x.appUsers.UserName == User.Identity.Name).Count() > 0)
                            {
                                <span class="badge badge-success">Applied</span>
                            }
                        </div>
                        <div class="col-sm-3 text-lg-end">
                            <a asp-action="Applications" asp-route-jobid="@obj.JobID" class="button-primary stretched-link">View Applications</a>
                        </div>
                   </div>
                </div>
                <br />
                <p align="justify">@obj.Description</p>
          </div>
        </div>
    }
</body>
</html>
